/* Base styles */
.custom-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
 width: 37%;
 height: 30px;
 border: 4px solid grey;
 border-radius: 0.1px;
 font-size: 18px;
 margin-left: 31%;
 text-align: center;
 padding: 0.1px  8px 2px 2px;

 
}



/* Media queries for responsiveness */
@media (min-width: 1204px) {


  .custom-style {
    flex-direction: row;
    width: auto;
    justify-content: space-between;
  }
}

@media (min-width: 836px) {
  .btn {
    display: none;
   
   
  }
}
