/* Base styles for the custom style container */
.custom-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Styles for the custom button with class 'btn1' */
.btn1 {
  width: 37%;
  height: 30px;
  border: 2px solid grey;
  border-radius: 0.1px;
  font-size: 18px;
  margin-left: 28%;
  text-align: center;
  padding: 0.1px 8px 2px 2px;
  min-width: 150px;
}

/* Media query for screens with a minimum width of 1204px */
@media (min-width: 1204px) {
  /* Adjusting the custom container for wider screens */
  .custom-style {
    flex-direction: row;
    width: auto;
    justify-content: space-between;
  }
}

/* Media query for screens with a minimum width of 836px */
@media (min-width: 836px) {
  /* Hiding the custom button with class 'btn1' on screens with a minimum width of 836px */
  .btn1 {
    display: none;
  }
}
