.edit-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25), -3px 3px 6px rgba(0, 0, 0, 0.25);
    color: black;
}

/*
*
*   FIRST DIV
*
*/

.first-div {
    background-color: var(--color-primary);
    color: white;
    border-radius: 15px;
}

.edit-profile-container h3 {
    margin: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.second-div {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    margin: 15px 0px;

}

.second-div>div:nth-child(1) {
    border-bottom: 1px solid var(--color-primary);
}

.second-div h4 {
    margin: 8px 20px;
    font-size: 16px;
    font-weight: 700;
}

.second-div ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.second-div li {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.second-div li p {
    margin: 5px;
    font-weight: 700;
    font-size: 13px;
}

.second-div input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 6px;
    width: 11px;
    height: 11px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
}

.second-div input:checked {
    background-color: var(--color-primary);
}


.button {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: white;
    padding: 5px 0px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 12px;
}

.third-div {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: var(--color-primary);
    border-radius: 12px;
    color: white;
    padding: 8px 8px;
}

.third-div div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    margin-left: 5px;
}

.third-div label {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 14px;

}


.sliderinput {
    opacity: 0;
    width: 0;
    height: 0;

}

.slider {
    border-radius: 12px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid black;
}

.slider::before {
    position: absolute;
    border-radius: 12px;
    content: "";
    height: 18px;
    width: 16px;
    bottom: -2px;
    background-color: rgb(39 36 59);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--color-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-primary);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.fourth-div {
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
}

.fourth-div p {
    padding: 0px 8px;
    margin: 0px;
    font-weight: 300;
    font-size: 10px;
}

.fourth-div h4 {
    margin: 8px;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (min-width: 660px) and (max-width: 800px) {
    .edit-profile-container h3 {
        font-size: 12px;
    }

    .second-div h4 {
        font-size: 12px;
    }

    .second-div li p {
        font-size: 10px;
    }

    .second-div input {
        margin: 6px;
        width: 9px;
        height: 9px;
    }
    .button {
        margin: 8px 8px;
    }
}

@media screen and (min-width: 470px) and (max-width: 660px) {
    .edit-profile-container h3 {
        font-size: 12px;
    }

    .second-div h4 {
        font-size: 12px;
    }

    .second-div li p {
        font-size: 10px;
    }

    .second-div input {
        margin: 6px;
        width: 9px;
        height: 9px;
    }

    .second-div ul {
        padding: 0px;
    }

    .button {
        margin: 8px 8px;
    }
}

@media screen and (max-width: 470px) {
    .edit-profile-container h3 {
        font-size: 8px;
    }

    .second-div h4 {
        font-size: 10px;
        margin: 4px 5px;
    }

    .second-div li p {
        font-size: 6px;
    }

    .second-div input {
        margin: 6px;
        width: 6px;
        height: 6px;
    }

    .second-div ul {
        padding: 0px;
    }

    .button {
        margin: 5px 5px;
    }

    .slider::before {
        width: 12px;
        height: 14px;
    }

    .third-div label {
        height: 10px;
        width: 25px;
    }

    .input:checked+.slider:before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
    .fourth-div h4 {
        font-size: 10px;
    }

    .fourth-div p {
        font-size: 8px;
    }
}