@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.cover-letter-main-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
  height:198vh; /* Adjust the height as needed */
}

.cover-letter-heading-container {
  width: 100%;
  height: 200px;
  background: #CF1350;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 480px) {
    width: 110%; 

    justify-content: center;
    align-items: center;
    
}
@media (max-width: 700px) {
  width: 110%; 
  justify-content: center;
  align-items: center;

    
}

    
}

.cover-letter-heading {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  @media (max-width: 480px) {
 

    font-size: 32px;
  font-style: normal;
  font-weight: 400;
    
}
@media (max-width: 700px) {

  font-size: 32px;
  font-style: normal;
  font-weight: 400;

    
}
}

.cover-letter-contact-container {
  align-items: center;
  
}

.cover-letter-contact-question {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  margin-top: 3%;

  text-transform: capitalize;
 text-align: center;
}
.cover-letter-contact-question2 {
  color: black;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 28px;
 
}
.cover-letter-contact-para {
  text-align: start;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 400;
 
}

.cover-letter-info-container1{
  background: #FCFCFC;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.15);  
  border-radius: 13px;
 
  
  width: 60%;
  margin-top: 40px;
  align-items: start;
  @media (max-width: 480px) {
    width: 110%; 
    
    
}
@media (max-width: 700px) {
  width: 110%; 
  

    
}
 
}

.cover-letter-form {
  
  padding: 60px;
  align-items: start;
}

.cover-letter-form-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

input,
textarea {
  display: block;
  width: 100%;
  
  padding-inline: 10px;
  padding-block: 6px;
  border-radius: 4px;
  border: 1px solid #0000001A;
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.label-for-life{
  font-weight: 400;
}
.lalle{
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
label {
  display: flex;
 align-items: start;
 margin-top: 10px;
 margin-bottom: 10px;
}

.heading-size1{
  font-size: 40px;
  font-weight: 600;
  align-self: start;
  margin-bottom: 20px;
}
.cover-letter-form-section-heading1{
  margin-top: 10px;
  align-self: start;
  font-size: 32px;
  font-weight: 500;
  padding: 0;
  display: flex;
  
}
.cover-letter-form-section-heading12{
  margin-top: 10px;
  align-self: start;
  font-size: 32px;
  font-weight: 500;
  padding: 0;
  display: flex;
  margin-bottom: 10px;
  
}


.cover-letter-button-container {
 
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 55px;
}
.cover-letter-back-button1 {
  background: transparent;
  color: black;
  border: 1px solid #CF1350;
  height: 64px;
  width: 136px;
  font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0em;
text-align: center;

}
.cover-letter-next-button1 {
  background: transparent;
  color: #FFF;
  border: 1px solid #CF1350;
  height: 64px;
  width: 136px;
  font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 39px;
letter-spacing: 0em;
text-align: center;

}
.cover-letter-back-button1:hover {
  background: #CF1350;
  color: white;
  border: 1px solid #CF1350;
}
.cover-letter-next-button1{
  background: #CF1350;
  border: 1px solid #CF1350;
}

/* COVER LETTER VIEW PAGE */
.cover-letter-view {
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
    & img{
        width: 100%;
    }
}
.cover-letter-view-template-button{
    padding-inline: 1rem;
    align-self: flex-end;
    margin-top: 0.5rem;
    margin-bottom: 2rem;

}