


.career-container1{
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    width: 100%;
}

.rectangle-career1{
    width: 100%;
    height: 200px;
    background: #CF1350;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.heading-career1{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    
    
}

.new-heading-career-container1{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF; 
    margin-top: 60px;
    margin-bottom: 60px;
    
    
    
}

.new-heading-career1{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 62px;
    text-transform: capitalize;
    text-align: center;
    margin-top: -5px;
    
}
.form-career-container1{
    width: 60%; 
    background: #FCFCFC;
    border-radius: 13px;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.15);
    margin-top: 20px; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px ;
   
     
}

.career-form1{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    
    
}
.career-form-field1{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: start;
  
  
   
    
}
.career-form-field12{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: start;
  
  
   
    
}
.career-form-field123{
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: start;
    margin-top: 20px;
    margin-left: 70px;
  
  
   
    
}
.career-form-label1{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: flex;
    align-items: start;
    
}

.career-form-input1{
    width:90%;
    height: 64px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #0000001A;
    background: #FFF;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.10);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
 
    
}




.career-form-input23{
    width: 90%;
    height: 90px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #0000001A;
    background: #FFF;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.10);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}

.button-field12{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.submit-button12{
    border-radius: 4px;
    background: #CF1350;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    border: none;
    cursor: pointer;
    width: 178px;
    height: 64px;
    font-weight: 600;
    
    
}
.submit-button12:hover{
    background: #CF1350;
}

@media (max-width: 768px) {
  .career-container1{
   display: flex;
        flex-direction: column; /* Stack children vertically */
        align-items: center;
        width: 100%;
}

.rectangle-career1{
    width: 100%;
        height: 85px;
        background: #CF1350;
        display: flex;
        justify-content: center;
        align-items: center;
    
}

.heading-career1{
   color: #FFF;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-style: normal;
        line-height: 36px;
        font-weight: 500;
    
    
}

.new-heading-career-container1{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF; 
    
    
    
}

.new-heading-career1{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size:20px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 10px  ;
    
}
.form-career-container1{
    width: 80%; 
    background: #FCFCFC;
    border-radius: 13px;
    box-shadow: none;

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px ;
   
     
}

.career-form1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
    
}
.career-form-field1{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
   
    
}
.career-form-field12{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
   
    
}
.career-form-field123{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
   
    
}

.career-form-label1{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
    
}

.career-form-input1{
    width:90%;
    height: 64px;
    
    border-radius: 8px;
    border: 2px solid #0000001A;
    background: #FFF;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.10);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
 
    
}

.career-form-input23 {
    width: 90%;
    height: 90px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #0000001A;
    background: #FFF;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.10);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}
.button-field12{
    width: 91%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.submit-button12{
    border-radius: 4px;
    background: #CF1350;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    width: 130px;
    height: 64px;
    margin-right: 50px;
    
    
}
.submit-button12:hover{
    background: #CF1350;
}
}

@media (min-width: 769px) and (max-width: 991px) {
  /* Add specific styles for medium-sized screens */
}