/* Reset default styles for all elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container for the create account section */
.create-account-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 3rem 2rem; /* Combined padding shorthand */
  text-align: center;
}

/* Styling for the heading container */
.create-account-heading-container {
  margin-bottom: 1.5rem;
}

/* Styling for the heading text */
h1 {
  width: 100%;
  color: #0f151a;
  text-transform: capitalize;
  font-size: 3rem; /* Increase the font size for better visibility */
}

/* Styling for the form container */
.create-account-form-container {
  max-width: 46rem;
  width: 100%; /* Allow the form to take full width on smaller screens */
  margin: 2rem auto; /* Center the form horizontally and add margin on top */
}

/* Styling for input and textarea elements */
input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #cf134f80;
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* Styling for labels */
label {
  font-weight: 500;
  color: #0f151a;
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

/* Styling for the submit button */
.create-account-submit-button {
  margin-top: 1rem;
  padding: 10px;
  width: 100%;
  background-color: #cf1350;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .create-account-form-container {
    max-width: 100%;
    padding: 0 1rem;
  }

  /* You can add more responsive styles as needed */
}
