*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.company-dashboard-main-container {
  margin-left: 300px;
  padding-block: 1rem;
  padding-inline: 1rem;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: 1rem;
}

.company-dashboard-welcome-div {
  display: flex;
  height: 200px;
  justify-content: space-between;
  background-image: url("/public/background.png");
  background-position: top;
  border-radius: 8px;
  grid-column: auto / span 3;
}

.company-dashboard-image {
  justify-self: flex-end;
  align-self: flex-end;
  img {
    /* object-fit: contain; */
  }
}

.company-dashboard-heading {
  /* display: flex;
  flex-direction: column;
  gap: 2rem;
  */
  padding-block: 1rem;
  padding-inline: 1rem;
  & h1 {
    text-transform: capitalize;
    font-weight: 300;
  }
  & p {
    text-transform: uppercase;
    color: #6d0e9d;
    font-size: 2rem;
    font-weight: bold;
  }
}

.company-dashboard-job-cards-div {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  grid-column: auto/span 3;
}

/* .company-dashboard-top-div{
    display: flex;
} */

.company-dashboard-job-card {
  position: relative;
  /* min-width: 540px; for 1927 wide screen */
  min-width: 370px;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
  /* padding-block: 2.79rem; for 1927 wide screen*/
  padding-block: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.company-dashboard-job-card::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 23%;
  /* height: auto; */
  background-color: #eaddf1;
  -webkit-mask-image: url("/public/manage-card.svg");
  mask-image: url("/public/manage-card.svg");
}

.company-dashbaord-job-card-top-div {
  display: flex;
  gap: 2rem;
}

.company-dashbaord-job-card-top-div-para {
  position: relative;
  display: flex;
  gap: 1.5rem;
}

.company-dashboard-job-card-top-div-para {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.company-dashboard-stats-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(35, 193, 10, 0.15);
  border-radius: 30px;
  padding: 3px 8px;
  gap: 6px;
}

.company-dashboard-job-card-middle-div {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 9rem;
}

.company-dashboard-job-card-bottom-div {
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 8rem;
}

/* for cards on main file */
.company-dashboard-job-cards-div {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 1.25rem;
}

/* Recent Job Table Component */
.recent-job-table-component {
  background: white;
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding-top: 1.2rem;
  padding-bottom: 6rem;
  padding-inline: 1.56rem;
  /* overflow-x: scroll; */
}

.company-dashboard-job-table-comp {
  grid-column: auto/span 3;
}

.recent-job-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-job-top-row-buttons {
  & button {
    background-color: #f4f5f9;
    /* padding-inline: 3rem; */
    border-radius: 50px;
  }
  :nth-child(1) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  :nth-child(2) {
    border-radius: 0px;
  }
  :nth-child(3) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

.recent-job-table {
  margin-top: 1.2rem;
  width: 100%;
  border-radius: 4px;

  & thead {
    color: #6d0e9d;
    background-color: #eaddf1;
    text-align: center;
  }
  & tbody {
    text-align: center;
  }
}
.recent-job-table > tbody > tr {
  border-bottom: 1px solid #eaddf1;
}
.recent-job-table > tbody > tr > td {
  padding-block: 1rem;
}

.recent-job-table-headings {
  padding-block: 1rem;
}

.recent-job-table-pagination-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

.recent-job-table-pagination-footer > div {
  display: flex;
  gap: 0.7rem;
  outline: 1px solid black;
  padding-inline: 1rem;
}
