body {
    padding: 0;
    margin: 0;
}
.company-SignUp-parent-container {
    width: 43%;
}
.company-sign-button-register {
    height: 49.6px;
    margin-bottom: 20px;
}
.signIn-navigate-company {
    height: 49.6px;
    width: 50%;
    border: 1px solid grey;
    background-color: transparent;
    font-weight: 600;
}
.register-navigate-company {
    height: 49.6px;
    width: 50%;
    background-color: transparent;
    border-width: 2px 0 0 0;
    border-color: #b90739;
    font-weight: bold;
}
.company-signup-register-heading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.register-with-email-heading-signup {
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.email-Input-Company-SignUp {
    height: 55px;
    border: 1px solid #b90739;
    margin-bottom: 15px;
}
.pass-Input-Company-SignUp {
    height: 55px;
    border: 1px solid #b90739;
    margin-bottom: 15px;
}
.confirm-pass-Input-Company-SignUp {
    height: 55px;
    border: 1px solid #b90739;
    margin-bottom: 15px;
}
.signUp-button-register-company {
    background-color: #b90739 !important;
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: white;
    margin-top: 15px;
    margin-bottom: -10px;
}
