/* DataDisplay.css */

.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 40px;
  }
.profile-component-container-all{
    margin-top: -50px;
}  
  
  .data-box {
    background: #fff;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25), 8px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    padding: 20px;
    max-width: 800px; /* Adjust the width as needed */
    width: 100%;
    border-radius: 15px;
    margin-left: 250px;
    position: relative; /* Add position relative to allow absolute positioning of dots */
  }
  
  .data-heading {
    color: #6D0E9D;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .data-dates {
    color: #6D0E9D;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .data-company {
    color: #6D0E9D;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .data-description-heading {
    color: #6D0E9D;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .data-description {
    color: #6D0E9D;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin-top: 10px;
  }
  .dots-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
  }
  
  .dot {
    width: 4px;
    height: 4px;
    background-color: #6D0E9D;
    border-radius: 50%;
  }
  
  .dropdown {
    position: absolute;
    top: 40px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    z-index: 1;
  }
  
  .dropdown button {
    padding: 8px 16px;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    color: #6D0E9D;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown button:hover {
    background-color: #f5f5f5;
  }  