html {
  --color-primary: #CF1350;
  --font-primary: "Red Hat Text";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary) !important;
}

.headerNotificationBar {
  background-color: #6d0e9d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account_icon {
  color: #6d0e9d;
}

.account_icon:hover {
  color: #000;
}

.notificationBarCloseBtn {
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.NavbarTop {
  position: sticky;
  top: 0;
  z-index: 5;
  background: #cf1350;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.15);
}

.NavbarCollapse {
  justify-content: center;
}

.navBarLinks {
  color: #fff;
  font-family: Lohit Bengali;
  font-size: 18px;
}

.navBarLinks a {
  text-decoration: none;
  color: black;
}

.navBarLinks>.active {
  border-bottom: 2px solid white;
}

.logoH {
  color: #fff;
  font-size: 30px;
  font-family: Poppins;
}

.logoH:hover,
.logoH:active {
  color: white;
}

.profileBtnH {
  border: 2px solid #6d0e9d;
  border-radius: 5px;
  padding: 10px;
  background: #6d0e9d;
  color: #ffffff;
}

.profileBtnH:hover {
  background: #ffffff;
  color: #6d0e9d;
}

.getSignUpBtn {
  /* position: absolute;
  right: 120px; */
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 5px;
  /* width: 120px; */
}

.getLogInBtn {
  /* position: absolute;
  right: 40px; */
  color: #ffffff;
  /* border: 2px solid #6d0e9d; */
  padding: 10px 15px;
  border-radius: 5px;
  /* width: 120px; */
}

/* .getLogInBtn:hover {
  background: #ffffff;
  color: #6d0e9d;
}
.getSignUpBtn:hover {
  background: #6d0e9d;
  color: #ffffff;
} */

@media screen and (max-width: 990px) {
  .navBarLinks>.active {
    border: none;
    border-left: 2px solid white;
    padding-left: 5px;
  }

  .getLogInBtn {
    top: 70px;
    right: 50px;
  }

  .getSignUpBtn {
    top: 130px;
    right: 50px;
  }
}

.hireTeamBtnH {
  border: 2px solid #6d0e9d;
  border-radius: 5px;
  padding: 10px;
  background: #6d0e9d;
  color: #ffffff;
  /* width: 120px; */
}

.hireTeamBtnH:hover {
  background: #ffffff;
  color: #6d0e9d;
}

.logoutBtnH {
  border: 2px solid #6d0e9d;
  padding: 10px;
  border-radius: 5px;
  background: #ffffff;
}

.logoutBtnH:hover {
  background: #6d0e9d;
  color: #ffffff;
}

.backgroundDiv {
  position: relative;
  background: url("/public/background.png");
  background-position: bottom;
  background-size: cover;
  height: 80vh;
}

.backgroudnDivImage {
  position: relative;
  background: url("/public/companyhome.png");
  background-position: bottom;
  background-size: cover;
  height: 80vh;
}

.landingpageHeading {
  color: #3e055b;
  text-align: center;
  font-family: Poppins;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 85px;
  /* 88.542% */
  letter-spacing: 1.44px;
  text-transform: capitalize;
}

.landingpageText {
  color: #1a1a1a;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 105% */
  letter-spacing: 0.36px;
  padding: 10px 5px;
  margin: 20px 0;
}

.dashonlogin {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -30px;
  right: -30px;
}

.landingpageBtn {
  border: 2px solid #6d0e9d;
  border-radius: 5px;
  padding: 10px 30px;
  background: #6d0e9d;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-right: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  .backgroundDiv {
    background-position: bottom left -70px;
  }

  .landingpageHeading {
    font-size: 42px;
    line-height: 55px;
  }

  .landingpageText {
    font-size: 16px;
    line-height: 19px;
  }

  .dashonlogin {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -20px;
    right: -20px;
  }

  .landingpageBtn {
    padding: 15px 50px;
  }
}

@media (max-width: 480px) {

  .backgroundDiv::before,
  .backgroundDiv::after {
    width: 200px;
    height: 200px;
  }

  .landingpageHeading {
    font-size: 32px;
    line-height: 45px;
  }

  .landingpageText {
    font-size: 14px;
    line-height: 17px;
  }

  .landingpageBtn {
    padding: 10px 30px;
    font-size: 14px;
  }
}

/* Slider Component CSS */

/* Trusted By Component CSS */
.trustedByImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.trustedByImg {
  background: #ffffff;
  box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 275px;
  margin: 10px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 767px) {
  .trustedByImgContainer {
    flex-wrap: wrap;
  }

  .trustedByImg {
    width: 100%;
    max-width: 300px;
  }
}

/* Our Services Component CSS */

.homepageServicesHeading {
  /* position: absolute; */
  color: #6d0e9d;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.homepageServicesParagraph {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  max-width: 750px;
  margin: 0 auto;
}

.servicesCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.service1Card,
.service2Card,
.service3Card {
  width: 420px;
  min-height: 400px;
  margin: 10px;
  border: none;
  border-radius: 24px;
  background: #eaddf1;
}

.serviceCardTitle {
  color: #404145;
  font-family: Poppins;
  font-size: 26px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 100% */
}

.serviceCardText {
  color: #62646a;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 120% */
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

/* Ai Section Created by Muhmmad Asim*/
.find-job {
  min-height: 418px;
  max-height: auto;
  background-color: #f2f2f2;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.image {
  width: 189.72px;
  height: 80px;
  top: 9px;
  left: 50px;
  padding: 5.5px 13.720001220703125px 5.5px 16px;
  border-radius: 4px;
  border: 1px solid;
}

.image-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.image {
  width: 300px;
  height: 120px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(218, 218, 218);
}

.ai-h2 {
  font-family: Red Hat Text;
  color: #0F151A;
  font-size: 40px;
  font-weight: 800;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.ai-p {
  color: #000;
  font-family: Red Hat Text;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;

}
.ai-btn {
  margin-top: 20px;
  background-color: #CF1350;
  width: 250px;
  height: 42px;
  top: 243px;
  left: 747.169921875px;
  padding: 9px 33.1px 9px 32.9px;
  border-radius: 5px;
  border: 1px solid;
}


@media (max-width: 1000px) {
  .right-section {
    margin-top: 30px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .find-job {
    flex-direction: column;
  }
  .image-grid {
    flex-direction: column;
    align-items: center;
  }

  .row {
    flex-direction: column;
    gap: 20px;
  }
}


/* Responsive Styles */

@media screen and (max-width: 768px) {
  .servicesCards {
    flex-direction: column;
    align-items: stretch;
  }

  .service1Card,
  .service2Card,
  .service3Card {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

/* Our Services Component CSS */

/* Best Part Component CSS */

/* Common styles for headings, text, and buttons */
.bestPartCompHeading1,
.bestPartTalentHeading1,
.bestPartCompHeading2,
.bestPartTalentHeading2,
.bestPartCompText,
.bestPartTalentText,
.bestPartCompBtn,
.bestPartTalentBtn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #404145;
}

.bestPartCompHeading1,
.bestPartTalentHeading1 {
  font-weight: 300;
  font-size: 42px;
  line-height: 50px;
}

.bestPartCompHeading2,
.bestPartTalentHeading2 {
  color: #6d0e9d;
  font-family: "Liberation Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  /* 104.167% */
}

.bestPartCompText,
.bestPartTalentText {
  color: #404145;
  font-family: "Liberation Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  /* 131.25% */
}

.bestPartTalentImg,
.bestPartCompImg {
  max-width: 100%;
  height: auto;
}

.getHiredBtnH2 {
  background: #6d0e9d;
  color: #ffffff;
  border: 2px solid #6d0e9d;
  padding: 10px 15px;
  border-radius: 10px;
  /* width: 120px; */
}

/* Responsive styles */

/* Small devices (landscape phones) */
@media (max-width: 576px) {

  .bestPartCompHeading1,
  .bestPartTalentHeading1,
  .bestPartCompHeading2,
  .bestPartTalentHeading2 {
    font-size: 28px;
    line-height: 34px;
  }

  .bestPartCompText,
  .bestPartTalentText {
    font-size: 14px;
    line-height: 20px;
  }

  .bestPartCompBtn,
  .bestPartTalentBtn {
    font-size: 12px;
    line-height: 18px;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .bestPartCompHeading1,
  .bestPartTalentHeading1,
  .bestPartCompHeading2,
  .bestPartTalentHeading2 {
    font-size: 36px;
    line-height: 42px;
  }

  .bestPartCompText,
  .bestPartTalentText {
    font-size: 15px;
    line-height: 22px;
  }

  .bestPartCompBtn,
  .bestPartTalentBtn {
    font-size: 13px;
    line-height: 19px;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  /* Styles remain the same as before */
}

/* Why Us Component CSS */
.whyUsMainHeading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.whyUsSecondHeading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem !important;
  font-size: 18px;
  line-height: 26px;
  color: #62646a;
}

.whyUsSecondHeadingCont {
  padding-left: 22%;
  padding-right: 22%;
}

.whyUsImg {
  margin-top: 10px;
  height: 80px;
  width: auto;
  mix-blend-mode: darken;
}

.whyUsContHeader {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: white;
}

.whyUsContText {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: white;
  padding-left: 12%;
  padding-right: 12%;
}

/* Media Queries for Responsive Design */

/* Tablets and smaller desktops */
@media (max-width: 1024px) {
  .whyUsMainHeading {
    font-size: 38px;
    line-height: 40px;
    color: black;
  }

  .whyUsSecondHeading {
    font-size: 16px;
    line-height: 24px;
  }

  .whyUsSecondHeadingCont {
    padding-left: 18%;
    padding-right: 18%;
  }

  .whyUsContHeader {
    font-size: 18px;
    line-height: 26px;
  }

  .whyUsContText {
    line-height: 18px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.justify-content-between {
  justify-content: space-evenly !important;
  margin-inline: auto;
}

.no-mwidth {
  padding-inline: 3rem;
  max-width: none !important;

  @media (min-width: 576px) {
    max-width: 100% !important;
  }

  @media (min-width: 768px) {
    max-width: 100% !important;
  }

  @media (min-width: 992px) {
    max-width: 100% !important;
  }
}

.whyUsContentCont {
  border-radius: 24px;
  background: #CF1350;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 30%;
  padding-block: 5rem;
  padding-inline: 3rem;
}

/* Mobile devices */
@media (max-width: 768px) {
  .whyUsContentCont {
    width: 100%;
  }

  .whyUsMainHeading {
    color: #000000;
    font-size: 30px;
    line-height: 32px;
  }

  .account_icon {
    margin-left: 0%;
  }

  .whyUsSecondHeading {
    font-size: 14px;
    line-height: 20px;
  }

  .whyUsSecondHeadingCont {
    padding-left: 14%;
    padding-right: 14%;
  }

  .whyUsContHeader {
    font-size: 16px;
    line-height: 24px;
    color: white;
  }

  .whyUsContText {
    color: white;
    font-size: 10px;
    line-height: 16px;
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Why Us Component CSS */

/* Newsletter Component CSS */
.newsletterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 550px;
  padding-top: 15%;
  padding-bottom: 25%;
}

.newsletterRect3 {
  background-image: url("../../../assests/images/Newsletter-Rectangle-3.png");
  background-repeat: no-repeat;
  width: 1000px;
  height: 400px;
  background: #6d0e9d;
  opacity: 0.3;
  border-radius: 30px;
  position: absolute;
  z-index: 1;
}

.newsletterRect2 {
  background-image: url("../../../assests/images/Newsletter-Rectangle-2.png");
  width: 1120px;
  height: 405px;
  background: #6d0e9d;
  opacity: 0.4;
  border-radius: 30px;
  position: absolute;
  z-index: 2;
  transform: translateY(40px);
}

.newsletterRect1 {
  background-image: url("../../../assests/images/Newsletter\ -Rectangle-1.png");
  width: 1200px;
  height: 405px;
  background: #6d0e9d;
  border-radius: 30px;
  position: absolute;
  z-index: 3;
  transform: translateY(80px);
}

.newsletterHeader {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: center;
  padding-top: 65px;
  text-transform: uppercase;
}

.newsletterText {
  font-family: "Inter", sans-serif;
  font-size: 39px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
  padding: 2% 25% 2% 25%;
}

.newsletterEmailSection {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 480px;
  height: 80px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin: auto;
}

.newsletterEmail {
  flex: 1;
  background: none;
  border: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.newsletterEmail::placeholder {
  color: #ffffff;
}

.newsletterButton {
  background: #ffffff;
  border-radius: 4px;
  width: 190px;
  height: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #000000;
  border: none;
}

@media screen and (max-width: 1200px) {
  .newsletterContainer {
    padding-top: 10%;
    padding-bottom: 15%;
  }

  .newsletterRect3,
  .newsletterRect2,
  .newsletterRect1 {
    width: 80%;
    height: 300px;
  }

  .newsletterRect1 {
    transform: translateY(60px);
  }

  .newsletterHeader {
    font-size: 18px;
  }

  .newsletterText {
    font-size: 32px;
    padding: 2% 10% 2% 10%;
  }

  .newsletterEmailSection {
    width: 80%;
    height: 60px;
  }

  .newsletterButton {
    width: 160px;
    height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .newsletterContainer {
    padding-top: 5%;
    padding-bottom: 10%;
  }

  .newsletterRect3,
  .newsletterRect2,
  .newsletterRect1 {
    width: 95%;
    height: 250px;
  }

  .newsletterRect1 {
    transform: translateY(40px);
  }

  .newsletterHeader {
    font-size: 16px;
  }

  .newsletterText {
    font-size: 20px;
    padding: 2% 5% 2% 5%;
  }

  .newsletterEmailSection {
    width: 90%;
    height: 50px;
  }

  .newsletterButton {
    width: 120px;
    height: 35px;
  }
}

/* Footer */
.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  background: #a30d3d;
  color: white;
}

.footerUpperSection,
.footerBottomSection {
  display: block;
}

.footerColumn {
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  vertical-align: top;
}

.footerLinksHeader {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 45px;
  color: #404145;
  margin: 0;
  padding: 0;
}

.footerLinks {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
  /* display: flex; */
  align-items: center;
  text-decoration-line: underline;
  color: #7a7d85;
  text-align: start;
  margin: 0;
  padding: 0;
}

.footerLinks li {
  height: 30px;
}

.footerLogo {
  border: 2px solid #6d0e9d;
  border-radius: 5px;
  padding: 10px;
  background: #6d0e9d;
  color: #ffffff;
}

.footerLogoText {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #b5b6ba;
  margin-left: 40px;
}

/* Media Queries */
@media (max-width: 768px) {
  .footerColumn {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .footerLinksHeader {
    font-size: 14px;
    line-height: 30px;
  }

  .footerLinks {
    font-size: 14px;
    line-height: 22px;
  }

  .footerLogoText {
    color: rgba(0, 0, 0, 0.65);
    font-family: "Liberation Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 112.5% */
  }
}

@media (max-width: 576px) {
  .footerColumn {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footerLinksHeader {
    font-size: 12px;
    line-height: 25px;
  }

  .footerLinks {
    font-size: 12px;
    line-height: 20px;
  }

  .footerSocialLinks {
    width: 100%;
  }
}