*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";

  & p {
    margin-bottom: 0;
  }
}

.manage-hiring-main-container {
  overflow-x: hidden;
  padding-block: 1rem;
  padding-inline: 1rem;
  display: grid;
  gap: 1rem;
  & h1 {
    text-transform: capitalize;
    font-weight: 600;
    color: #6d0e9d;
    margin-bottom: 0;
  }
  @media (min-width: 1200px) {
    margin-left: 300px;
  }
}

.recent-job-top-row-heading h1{
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #000000;
  margin-bottom: .7rem;
  @media (min-width: 600px) {
    margin-bottom: 0;
  }
}

/*let this stay*/
.manage-hiring-job-cards-container {
  padding: 1rem 0.7rem;
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin-right: -1.19rem;
  overflow: hidden;
  border-radius: 5px;

  & h3 {
    font-size: 1rem;
    font-weight: 600;
  }
 
}

.manage-hiring-job-cards-div {
  padding-block: 1rem; /* to preserve the shadow */
  display: flex;
  gap: 0.7rem;
  overflow-x: auto;
   @media (min-width: 600px) {
    gap: 1.5rem;
  }
}

/*LET THIS STAY*/
/* STYLING FOR THE CARD */

.manage-hiring-job-card {
  position: relative;
  min-width: 321px;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding-block: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.manage-hiring-job-card::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 23%;
  /* height: auto; */
  background-color: #eaddf1;
  -webkit-mask-image: url("/public/manage-card.svg");
  mask-image: url("/public/manage-card.svg");
}

/*LET THIS STAY*/
.manage-hiring-job-card-top-div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  & p {
    margin-bottom: 0 !important;
  }
}

/*LET THIS STAY*/
.manage-hiring-job-card-top-div-para {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.manage-hiring-stats-with-icon {
  display: flex;
  background: rgba(35, 193, 10, 0.15);
  align-items: center;
  border-radius: 30px;
  padding: 0px 6px;
  font-size: small;
  height: 20px;
  & p {
    margin-bottom: 0 !important;
    color: #0B8A00;
    font-weight: 600;
  }
}

.manage-hiring-job-card-middle-div {
  font-size: 0.9rem;
  font-weight: normal;
  margin-right: 4.6rem;
}

.manage-hiring-job-card-bottom-div {
  font-size: 1.2rem;
  font-weight: 300;
  margin-right: 7rem;
}

.manage-hiring-job-card-count-div {
  text-align: center;
  font-size: smaller;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: white;
  width: 124px;
  height: 67px;
  margin-left: 5rem;
  border-radius: 8px;
  border: 0.3px solid rgb(206, 205, 205);
}

/* TABLE COMPONENET */

.manage-hiring-recent-job-top-row{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1185px;
  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.manage-hiring-recent-job-top-row-buttons {
  & button {
    border-radius: 50px;
    background-color: #6d0e9d;
    border: none;
    padding-inline: 1rem;
    padding-block: .6rem;
    @media (min-width: 600px) {
      padding-inline: 2rem;
    }
  }
}

.manage-hiring-recent-job-table {
  min-width: 1185px;
  margin-top: 1.2rem;
  border-radius: 4px;
  border-collapse: collapse;

  & thead {
    color: #6d0e9d;
    background-color: #eaddf1;
    text-align: center;
  }
  & tbody {
    text-align: center;
  }
}

.manage-hiring-table-head th {
  padding-block: 0.7rem;
}
.manage-hiring-table-row-body {
  border-bottom: 1px solid rgb(202, 202, 202);
  background-color: #f7f4f442;
}
.manage-hiring-table-row-body td {
  padding-block: 1rem;
}

.manage-hiring-table-comp {
  border-radius: 5px;
  padding-block: 1rem;
  padding-inline: 1rem;
  overflow-x: hidden;
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.mange-hiring-recent-job-table-component {
  overflow: hidden;
}

.recent-job-post-table-container {
  overflow-x: auto;
}

.pagination-button {
  background: transparent;
  color: black;
  padding: 0 0.7rem;
  border: 1px solid black;
}

.hiring-manager-table-pagination-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
  max-width: 1185px;
  @media (min-width: 415px) {
    flex-direction: row;
  }
}
.hiring-manager-table-pagination-footer > div {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.manage-hiring-badge{
  background-color: #6d0e9d !important;
}