.form-section-heading {
    text-align: left;
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
}

.heading-left-align {
    text-align: left;
    margin-top: 1rem !important;
}

.flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.create-account-form-container input[type="checkbox"] {
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    /* change the color of checkbox */
    color: #cf1350;
}
.input-pref123 {
    accent-color: #cf1350;
    top: 10px;
    position: relative;
}

label {
    margin: 0;
}

.para-pref {
    font-weight: 500;
    font-size: 1rem;
}
.Perfrences-AddEmail-Button {
    color: #d63d3d;
    background-color: transparent;
    font-size: 24px;
    display: block;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid;
}
.sendUpdates-pref {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}
.input-pref {
    margin-top: 18px;
}
