.form-button-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.form-back-button {
  background-color: white;
  color: #000000;
  border: 1px solid #cf134fa9;
  margin-top: 0.8rem;
  padding-inline: 2rem;
}


.tech-detail-submit-button {
  margin-top: 0.8rem;
  background-color: #cf1350;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.create-account-heading-container{
  margin-top: 50px;
}
.create-account-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 3rem 2rem;
  text-align: center;
}

/* Styling for the heading container */
.create-account-heading-container {
  margin-bottom: 1.5rem;
}

/* Styling for the heading text */
.create-account-heading {
  width: 100%;
  color: #0f151a;
  text-transform: capitalize;
  font-size: 3rem;
}

/* Styling for the form container */
.create-account-form-container {
  max-width: 46rem;
  width: 100%;
  margin: 2rem auto;
}

/* Styling for select inputs */
.create-account-form-container select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #cf134f80;
  background: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

/* Styling for labels */
.create-account-form-container label {
  font-weight: 400;
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}

/* Styling for buttons */
.form-button-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.form-back-button,
.tech-detail-submit-button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.form-back-button {
  background-color: white;
  color: #000000;
  border: 1px solid #cf134fa9;
  font-weight: bold;
}

.tech-detail-submit-button {
  background-color: #cf1350;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: none;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .create-account-form-container {
    max-width: 80%;
  }

  .form-button-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-back-button,
  .tech-detail-submit-button {
    width: 100%;
    margin-top: 1rem;
  }
}