body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.Header {
    background-color: #cf1350;
    height: 76px;
}
.Step22-Parent-Container {
    width: 1041.58px;
    height: 970px;
    margin-top: 142px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.Review-Heading {
    margin-left: auto;
    margin-right: auto;
    color: #0f151a;
    margin-top: 40px;
    height: 48px;
    width: 135px;
    font-size: 38px;
    font-weight: 700;
}
.Details-Heading {
    font-weight: 700;
    font-size: 24px;
    margin-top: 50px;
}
.Option-Heading-Container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.Option-Heading {
    font-weight: 500;
    font-size: 26px;
}
.Option-Heading-2 {
    font-weight: 400;
    font-size: 26px;
    margin-left: auto;
    margin-right: 200px;
}

.Settings-Heading {
    font-weight: 700;
    font-size: 24px;
    margin-top: 50px;
}
.Step22-Parent-Container-2 {
    width: 1041.58px;
    height: 610px;
    margin-top: -82px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
.Step22-Parent-Container-3 {
    width: 1041.58px;
    height: 510px;
    margin-top: -130px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}
.Button-Container-review {
    width: 1041.58px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.Back-Button {
    border: 2px solid #cf1350;
    border-radius: 6px;
    width: 222px;
    height: 73px;
    color: black;
    background-color: white;
    font-size: 36px;
}
.Confirm-Button {
    border-radius: 6px;
    width: 322px;
    height: 73px;
    color: white;
    background-color: #cf1350;
    font-size: 36px;
}
.Parent-Container-PopUp {
    width: 100%;
    height: 350%;
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
}
.PopUp-Container {
    width: 1156.48px;
    background-color: red;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: #ffffff;
}
.cross-svg-container {
    display: flex;
    flex-direction: row-reverse;
}
.Edit-JobPost-Heading {
    font-size: 32px;
    font-weight: 600;
    margin-left: 100px;
}
.Job-Title-Heading {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 100px;
}
.input-field-pop-up-box {
    width: 956px;
    margin-left: 100px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
}
.popUpBox-Button-Container {
    width: 956px;
    margin-left: 100px;
    margin-top: 28px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
}
.Done-button {
    width: 164px;
    height: 54px;
    border-radius: 8px;
    background-color: #cf1350;
    border: none;
    color: white;
}
.Close-button {
    width: 164px;
    height: 54px;
    margin-right: 15px;
    border-radius: 8px;
    background-color: #cf1350;
    border: none;
    color: white;
}

.Pen-Container {
    margin-right: 105px;
}
@media (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768px (e.g., mobile or small screens) */
    body {
        width: 100%;
        height: auto;
    }
    .Pen-Container {
        margin-left: 170px;
    }
    .Option-Heading-2 {
        margin-right: -110px;
        margin-left: auto;
        font-size: 14px;
    }
    .Step22-Parent-Container {
        width: 100%;
        height: auto;
    }
    .Parent-Container-PopUp {
        width: 100%;
        height: 300%;
    }
    .PopUp-Container {
        width: 500px;
        height: auto;
        margin-left: -40px;
    }
    .cross-svg-container {
        margin-right: 20px;
    }
    .Step22-Parent-Container-2 {
        width: 100%;
        height: auto;
    }
    .input-field-pop-up-box {
        width: 280px;
    }
    .Step22-Parent-Container-3 {
        width: 100%;
        height: auto;
    }
    .Button-Container {
        width: 100%;
        height: auto;
    }
    .Review-Heading {
        font-size: 20px;
    }
    .Details-Heading {
        font-size: 14px;
    }
    .Option-Heading {
        font-size: 15px;
    }
    .Back-Button {
        margin-top: 20px;
        width: 122px;
        height: 43px;
        font-size: 17px;
    }
    .Confirm-Button {
        margin-top: 20px;
        width: 122px;
        height: 43px;
        font-size: 17px;
    }
    .popUpBox-Button-Container {
        margin-top: 20px;
        flex-direction: row;
    }
    .Done-button {
        width: 122px;
        height: 43px;
        font-size: 17px;
    }
    .Close-button {
        width: 122px;
        height: 43px;
        font-size: 17px;
        margin-left: 15px;
    }
}
