body {
    padding: 0;
}
.Header {
    background-color: #cf1350;
    height: 76px;
}
.finishPost-Title {
    margin-top: 80px;
    color: #0f151a;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}
.finishPost-SubText {
    color: #0f151a;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 200% */
    width: 900px;
    margin-left: 300px;

    margin-top: 20px;
    line-height: 3;
}
.finishPost-Next {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
    margin-left: 239px;
    margin-top: 80px;
}
.finishPost-review {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
    margin-left: 239px;
    margin-top: 50px;
}
.finishPost-review-sub {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    margin-left: 239px;
    margin-top: 20px;
}
.finishPost-Button-Container {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    padding-bottom: 100px;
}
.finishPost-Continue-Button {
    width: 651px;
    height: 73px;
    border-radius: 6px;
    background: #cf1350;
    color: #fff;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 83.333% */
}
@media (max-width: 768px) {
    .parent-Container {
        left: 0;
    }
    .finishPost-Title {
        font-size: 20px;
    }
    .finishPost-SubText {
        font-size: 15px;
        width: 390px;
        margin-left: 0px;
        line-height: 2;
    }
    .finishPost-Next {
        font-size: 15px;
        margin-left: 10px;
    }
    .finishPost-review {
        font-size: 15px;
        margin-left: 10px;
    }
    .finishPost-review-sub {
        font-size: 12px;
        margin-left: 10px;
    }
    .finishPost-Button-Container {
        margin-top: 20px;
        padding-bottom: 200px;
    }
    .finishPost-Continue-Button {
        width: 351px;
        height: 40px;
        font-size: 17px;
        line-height: 0;
    }
}
